@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem;

  --hue-color: 210;
  --hue-secondary: 4;

  --primary: hsl(var(--hue-color), 64%, 22%);
  --primary-accent: hsl(var(--hue-color), 54%, 12%);
  --primary-alt: hsl(var(--hue-color), 64%, 15%);

  --secondary: hsl(var(--hue-secondary), 93%, 49%);
  --secondary-accent: hsl(var(--hue-secondary), 83%, 39%);
  --secondary-alt: hsl(var(--hue-secondary), 93%, 42%);

  --background: hsl(var(--hue-color), 100%, 5%);

  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --text-color-light: hsl(var(--hue-color), 8%, 70%);

  --input-color: hsl(var(--hue-color), 29%, 16%);

  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

@layer base {
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
  }

  body {
    @apply bg-background text-textColor font-poppins;
  }

  main {
    @apply overflow-x-hidden;
  }

  .section {
    @apply px-0 md:px-32 pb-10;
  }

  .container {
    @apply px-6 sm:px-10 md:px-20 max-w-screen-md;
  }

  .button {
    @apply bg-secondary hover:bg-secondaryAccent rounded-lg focus:outline-none text-gray-50 text-sm;
  }

  .title {
    @apply text-white opacity-90 font-semibold;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
